section.intro
    .container

        .intro__head
            h1.heading-h1.intro__title ПРЕИМУЩЕСТВА
                nobr  G-SYNC
            p.intro__text Каждый монитор с технологией G-SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G-SYNC.

        .intro__list
            .card
                include ../../../../img/icons/card1.svg
                h2.heading-h1.card__title
                    span HDR
                    |  DISPLAY
                p.card__text Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.

            .card
                include ../../../../img/icons/card2.svg
                h2.heading-h1.card__title
                    span INPUT
                    |  LAG
                p.card__text Мониторы с технологией
                    NOBR G-SYNC
                    |  обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.

            .card
                include ../../../../img/icons/card3.svg
                h2.heading-h1.card__title
                    span HIGH REFRESH
                    |  RATE
                p.card__text NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.

            .card
                include ../../../../img/icons/card4.svg
                h2.heading-h1.card__title
                    span WIDE COLOR
                    |  GAMUT
                p.card__text Современные мониторы G-SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.


        a(href='#helloModal' data-toggle="modal" class="btn btn--secondary") купить
